{% extends 'index.html.twig' %}

{% block body %}
  <h1> hakan </h1>

<!--
  - Faire la partie pour les Etudiant, Profs, Administration

  - IsGranted pour check le type d'utilisateur connecter

  - Verification sécu si possible au niveau des liens ?


-->
{% endblock %}
