{% extends 'index.html.twig' %}

{% block body %}
<div class="container form_add">
    <h1 class="title_register">S'incrire sur l'intranet Interpool</h1>

    {% if is_granted('ROLE_TEACHER') %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
    <div style="text-align: right">
        <a class="back_home" href="{{ path('home') }}">
            Retour
        </a>
    </div>
</div>
{% endblock %}
